@media (max-width: 768px) {
    .contacto {
        flex-direction: column;
        padding: 40px 10px;
        width: 80%;

        .container {
            margin: 20px;
            width: 90%;

            .contact-me {
                h1 {
                    font-size: 2rem;
                    text-align: center;
                }

                p {
                    font-size: 1rem;
                    text-align: center;
                }
            }
        }

        .input-group {
            width: 100%;
        }

        .info-contact {
            align-items: center;

            .ilustracion {
                height: 150px;
            }

            .logos-contact {
                align-items: center;

                .socialm {
                    flex-direction: column;
                    text-align: center;

                    img {
                        height: 60px;
                        width: auto;
                    }
                }
            }
        }
    }
}
