@media (max-width: 768px) {
    footer {
        margin: 80px 20px;

        nav {
            flex-direction: column;
            gap: 20px;

            .nav-link {
                font-size: 1.5rem;
            }
        }
    }
}
