@media (max-width: 768px) {
    body {
        .header {
            gap: 20px;
            align-items: center;
            
            h1 {
                font-size: 2rem;
            }

            .abrir-menu {
                display: block;
                background: none;
                border: none;
                font-size: 1.5rem;
                color: white;
                cursor: pointer;
            }

            nav {
                display: none;
                flex-direction: column;
                gap: 10px;
                margin-top: 20px;

                &.mostrar-menu {
                    display: flex !important;
                }
            }
        }
    }
    }
    
