@media (max-width: 768px) {
    .inicio {
        flex-direction: column;
        margin: 60px 20px;
        gap: 30px;
        .fotocc {
            height: 250px;
            width: 100%;
        }

        .sobre-mi {
            .descarga {
                .presentacion {
                    font-size: 2rem;
                    text-align: center;
                }

                p {
                    text-align: center;
                }

                .button {
                    width: 60%;
                    font-size: 1.5rem;
                    height: 60px;
                }
            }

            .links-contacto {
                flex-direction: row;
                gap: 15px;

                .gh, .in {
                    height: 50px;
                }
            }
        }
    }

    // Proyectos //
    .proyectos {
        margin: 130px 40px;

        .my-proyects {
            font-size: 2rem;
        }

        .dpl-row {
            flex-direction: column;
            gap: 40px;
            .containerxt {
                text-align: center;
                width: 400px;
                .xplorat {
                    font-size: 1.5rem;
                }
                p {
                    max-width: 90%;
                    margin: auto;
                }
                .linkxt {
                    font-size: 1rem;
                }
            }

            .fotos-py {
                margin: 0;
                .slider {
                    width: 300px;
                    height: 300px;
                    .silder-track {
                        .img-proyect {
                            width: 90px;
                        }
                    }
                    
                }

                #prev, #next {
                    font-size: 1.5rem;
                    top: 360px;
                }
            }
        }
    }

    // Educacion //

    .sectionedu {
        padding: 0 45px;

        .tituloedu {
            font-size: 2rem;
            margin: 20px 0;
        }

        .container {
            flex-direction: column;
            align-items: center;

            .containersm {
                width: 100%;
            }
        }

        .logo-vsc,
        .logo-html,
        .logo-css,
        .logo-js {
            height: 60px;
            width: auto;
        }
    }
}