
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #193035, #000);
    color: white;
    margin: 0;
    padding: 0;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        padding: 40px;
        z-index: 1000;
        top: 0;
        background-color: #193035;

        h1 {
            font-family: 'Bebas Neue', sans-serif;
            font-size: 3rem;
            letter-spacing: 2px;
            color: white;
        }

        .abrir-menu {
            display: none;
        }
        
        nav {
            display: flex;
            position: relative;

            .nav-link {
                color: white;
                font-family: 'Bebas Neue', sans-serif;
                letter-spacing: 2px;
                font-size: 1.2rem;
                text-decoration: none;
                padding-right: 10px;

                
                &:hover {
                    color: #00c5e4;
                }
            }
        }
        
    }
}