* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #193035, #000);
  color: white;
  margin: 0;
  padding: 0;
}
body .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 40px;
  position: relative;
  z-index: 10;
}
body .header h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
}
body .header .abrir-menu {
  display: none;
}
body .header nav {
  display: flex;
  position: relative;
}
body .header nav .nav-link {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
  text-decoration: none;
  padding-right: 10px;
}
body .header nav .nav-link:hover {
  color: #00c5e4;
}

footer {
  margin: 60px 200px;
  text-align: center;
  justify-content: center;
  position: relative;
}
footer nav {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
footer nav .nav-link {
  color: white;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
}
footer nav .nav-link:hover {
  color: #00c5e4;
}

html {
  scroll-behavior: smooth;
}

.inicio {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 100px 300px;
  position: relative;
}
.inicio .fotocc {
  height: 400px;
  border-radius: 24px;
}
.inicio .sobre-mi .descarga {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inicio .sobre-mi .descarga .presentacion {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
  -webkit-text-decoration: underline 3.5px #00c5e4;
          text-decoration: underline 3.5px #00c5e4;
}
.inicio .sobre-mi .descarga p {
  max-width: 300px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}
.inicio .sobre-mi .descarga .button {
  height: 70px;
  width: 300px;
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
  background-color: #00c5e4;
  border-radius: 44px;
  color: white;
  text-decoration: none;
  padding: 15px;
}
.inicio .sobre-mi .descarga .button:hover {
  background-color: #207f92;
  cursor: pointer;
  transition: background 0.3s;
}
.inicio .sobre-mi .links-contacto {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.inicio .sobre-mi .links-contacto .gh,
.inicio .sobre-mi .links-contacto .in {
  height: 60px;
  margin-top: 20px;
}

.proyectos {
  margin: 60px auto;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.proyectos .my-proyects {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
  -webkit-text-decoration: underline 4px #00c5e4;
          text-decoration: underline 4px #00c5e4;
}
.proyectos .dpl-row {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 100px;
}
.proyectos .dpl-row .containerxt .xplorat {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  color: #00c5e4;
}
.proyectos .dpl-row .containerxt p {
  font-family: "Montserrat", sans-serif;
  max-width: 500px;
}
.proyectos .dpl-row .containerxt .linkxt {
  font-size: 1rem;
  color: white;
}
.proyectos .dpl-row .fotos-py {
  gap: 20px;
  display: flex;
  flex-direction: column;
  margin: 40px;
}
.proyectos .dpl-row .fotos-py .slider {
  width: 600px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}
.proyectos .dpl-row .fotos-py .slider .slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.proyectos .dpl-row .fotos-py .slider .img-proyect {
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.proyectos .dpl-row .fotos-py #prev, .proyectos .dpl-row .fotos-py #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  color: #00c5e4;
  cursor: pointer;
  top: 310px;
}
.proyectos .dpl-row .fotos-py #prev#prev, .proyectos .dpl-row .fotos-py #next#prev {
  left: 720px;
}
.proyectos .dpl-row .fotos-py #prev#next, .proyectos .dpl-row .fotos-py #next#next {
  right: 120px;
}

.sectionedu {
  padding: 70px;
  position: relative;
}
.sectionedu .tituloedu {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
  -webkit-text-decoration: underline 4px #00c5e4;
          text-decoration: underline 4px #00c5e4;
  text-align: center;
  margin: 40px;
}
.sectionedu .container {
  font-family: "Montserrat", sans-serif;
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 20px auto;
}
.sectionedu .container .containersm {
  width: 400px;
}
.sectionedu .container .containersm .encabezado {
  font-weight: bold;
  font-size: 1.5rem;
}
.sectionedu .logo-vsc {
  height: 80px;
  width: 70px;
}
.sectionedu .logo-html,
.sectionedu .logo-css,
.sectionedu .logo-js {
  height: 80px;
}

.contacto {
  position: relative;
  background-color: #86d9ed;
  max-width: 1300px;
  margin: 100px auto;
  border-radius: 34px;
  display: flex;
  padding: 20px;
}
.contacto .container {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 60px;
  gap: 20px;
  width: 600px;
}
.contacto .container .contact-me h1 {
  margin: 20px 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  letter-spacing: 3px;
  color: #009db7;
}
.contacto .container .contact-me p {
  color: #193035;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}
.contacto .input-group {
  height: 50px;
  width: 580px;
}
.contacto .boton {
  margin-top: 25px;
  background-color: #00c5e4;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}
.contacto .boton:hover {
  background-color: #009db7;
}
.contacto .info-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacto .info-contact .ilustracion {
  height: 250px;
  margin-top: 20px;
}
.contacto .info-contact .logos-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacto .info-contact .logos-contact .socialm {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contacto .info-contact .logos-contact .socialm p {
  color: #193035;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0;
}
.contacto .info-contact .logos-contact .socialm img {
  height: 70px;
  width: 80px;
}

.line-aqua {
  width: 310px;
  height: 5px;
  background-color: aqua;
  transform: rotate(35deg);
  left: 1225px;
  position: relative;
  border-radius: 5px;
  bottom: 100px;
}

.line-celoscuro {
  width: 1600px;
  height: 5px;
  border-radius: 5px;
  background-color: #009db7;
  transform: rotate(150deg);
  position: relative;
  right: 200px;
}

.line-celeste {
  width: 1200px;
  height: 5px;
  background-color: #207f92;
  position: relative;
  border-radius: 5px;
  transform: rotate(120deg);
  top: 230px;
  left: 590px;
}

.line-aqua2 {
  width: 800px;
  height: 5px;
  background-color: aqua;
  position: relative;
  border-radius: 5px;
  transform: rotate(120deg);
  top: 1570px;
  left: 910px;
}

.line-celeste2 {
  width: 1760px;
  height: 5px;
  background-color: #1288a0;
  position: relative;
  border-radius: 5px;
  transform: rotate(35deg);
  top: 1200px;
  right: 190px;
}

.line-celoscuro2 {
  width: 600px;
  height: 5px;
  border-radius: 5px;
  background-color: #009db7;
  transform: rotate(50deg);
  position: relative;
  right: 180px;
  top: 1675px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .header h1 {
    font-size: 2rem;
  }
  .header .abrir-menu {
    display: block;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  .header nav {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  .header nav.mostrar-menu {
    display: flex !important;
  }
}
@media (max-width: 768px) {
  footer {
    margin: 80px 20px;
  }
  footer nav {
    flex-direction: column;
    gap: 20px;
  }
  footer nav .nav-link {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .inicio {
    flex-direction: column;
    margin: 60px 20px;
    gap: 30px;
  }
  .inicio .fotocc {
    height: 250px;
    width: 100%;
  }
  .inicio .sobre-mi .descarga .presentacion {
    font-size: 2rem;
    text-align: center;
  }
  .inicio .sobre-mi .descarga p {
    text-align: center;
  }
  .inicio .sobre-mi .descarga .button {
    width: 60%;
    font-size: 1.5rem;
    height: 60px;
  }
  .inicio .sobre-mi .links-contacto {
    flex-direction: row;
    gap: 15px;
  }
  .inicio .sobre-mi .links-contacto .gh, .inicio .sobre-mi .links-contacto .in {
    height: 50px;
  }
  .proyectos {
    margin: 130px 40px;
  }
  .proyectos .my-proyects {
    font-size: 2rem;
  }
  .proyectos .dpl-row {
    flex-direction: column;
    gap: 40px;
  }
  .proyectos .dpl-row .containerxt {
    text-align: center;
    width: 400px;
  }
  .proyectos .dpl-row .containerxt .xplorat {
    font-size: 1.5rem;
  }
  .proyectos .dpl-row .containerxt p {
    max-width: 90%;
    margin: auto;
  }
  .proyectos .dpl-row .containerxt .linkxt {
    font-size: 1rem;
  }
  .proyectos .dpl-row .fotos-py {
    margin: 0;
  }
  .proyectos .dpl-row .fotos-py .slider {
    width: 300px;
    height: 300px;
  }
  .proyectos .dpl-row .fotos-py .slider .slider-track .img-proyect {
    width: 90px;
  }
  .proyectos .dpl-row .fotos-py #prev, .proyectos .dpl-row .fotos-py #next {
    font-size: 1.5rem;
    top: 360px;
  }
  .proyectos .dpl-row .fotos-py #prev#prev, .proyectos .dpl-row .fotos-py #next#prev {
    left: 20px;
  }
  .proyectos .dpl-row .fotos-py #prev#next, .proyectos .dpl-row .fotos-py #next#next {
    right: 20px;
  }
  .sectionedu {
    padding: 0 45px;
  }
  .sectionedu .tituloedu {
    font-size: 2rem;
    margin: 20px 0;
  }
  .sectionedu .container {
    flex-direction: column;
    align-items: center;
  }
  .sectionedu .container .containersm {
    width: 100%;
  }
  .sectionedu .logo-vsc,
  .sectionedu .logo-html,
  .sectionedu .logo-css,
  .sectionedu .logo-js {
    height: 60px;
    width: auto;
  }
}
@media (max-width: 768px) {
  .contacto {
    flex-direction: column;
    padding: 40px 10px;
    width: 80%;
  }
  .contacto .container {
    margin: 20px;
    width: 90%;
  }
  .contacto .container .contact-me h1 {
    font-size: 2rem;
    text-align: center;
  }
  .contacto .container .contact-me p {
    font-size: 1rem;
    text-align: center;
  }
  .contacto .input-group {
    width: 100%;
  }
  .contacto .info-contact {
    align-items: center;
  }
  .contacto .info-contact .ilustracion {
    height: 150px;
  }
  .contacto .info-contact .logos-contact {
    align-items: center;
  }
  .contacto .info-contact .logos-contact .socialm {
    flex-direction: column;
    text-align: center;
  }
  .contacto .info-contact .logos-contact .socialm img {
    height: 60px;
    width: auto;
  }
}
@media (max-width: 764px) {
  .line-aqua {
    width: 473px;
    left: 10px;
    bottom: 190px;
    transform: rotate(35deg);
  }
  .line-celoscuro {
    width: 515px;
    right: 40px;
    transform: rotate(150deg);
  }
  .line-celeste {
    width: 450px;
    left: 0;
    transform: rotate(10deg);
  }
  .line-aqua2 {
    width: 440px;
    left: 145px;
    top: 1870px;
    transform: rotate(120deg);
  }
  .line-celeste2 {
    width: 700px;
    top: 500px;
    transform: rotate(35deg);
  }
  .line-celoscuro2 {
    width: 760px;
    transform: rotate(50deg);
  }
}/*# sourceMappingURL=style.css.map */