@media (max-width: 768px) {
    .contacto {
        flex-direction: column;
        padding: 40px 10px;
        width: 80%;

        .container {
            margin: 20px;
            width: 90%;

            .contact-me {
                h1 {
                    font-size: 2rem;
                    text-align: center;
                }

                p {
                    font-size: 0.8rem;
                    text-align: center;
                }
            }
        }

        .input-group {
            width: 100%;
            height: 90%;
        }

        .info-contact {
            align-items: center;

            .ilustracion {
                height: 150px;
            }

            .logos-contact {
                margin: 20px 40px;
                .socialm {
                    flex-direction: row;
                    
                    img {
                        height: 40px;
                        width: 40px;
                    }

                    p {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}
