@media (max-width:764px) {
    .decoracion {
        .line-aqua {
            width: 473px;
            left: 1px;
            bottom: 10px;
            transform: rotate(35deg);
        }

        .line-celoscuro {
            width: 515px;
            right: 40px;
            top: 100px;
            transform: rotate(150deg);
        }

        .line-celeste {
            width: 427px;
            left: 0;
            transform: rotate(10deg);
        }

        .line-aqua2 {
            width: 440px;
            left: 94px;
            top: 2200px;
            transform: rotate(120deg);
        }

        .line-celeste2 {
            width: 700px;
            top: 500px;
            transform: rotate(35deg);
        }

        .line-celoscuro2 {
            width: 760px;
            transform: rotate(50deg);
        }
    }
    

}

