.line-aqua {
    width: 310px;
    height: 5px;
    background-color: aqua;
    transform: rotate(35deg);
    left: 1240px;
    position: relative;
    border-radius: 5px;
    bottom: 70px;
}

.line-celoscuro {
    width: 1600px;
    height: 5px;
    border-radius: 5px;
    background-color: #009db7;
    transform: rotate(150deg);
    position: relative;
    right: 200px;
}

.line-celeste {
    width: 1200px;
    height: 5px;
    background-color: #207f92;
    position: relative;
    border-radius: 5px;
    transform: rotate(120deg);
    top: 230px;
    left: 705px;
}

.line-aqua2 {
    width: 700px;
    height: 5px;
    background-color: aqua;
    position: relative;
    border-radius: 5px;
    transform: rotate(120deg);
    top: 1460px;
    left: 995px;
}

.line-celeste2 {
    width: 1885px;
    height: 5px;
    background-color: #1288a0;
    position: relative;
    border-radius: 5px;
    transform: rotate(35deg);
    top: 1200px;
    right: 190px;
}

.line-celoscuro2 {
    width: 830px;
    height: 5px;
    border-radius: 5px;
    background-color: #009db7;
    transform: rotate(50deg);
    position: relative;
    right: 180px;
    top: 1610px;
}