.decoracion {
    position: relative;

    .line-aqua {
        width: 800px;
        height: 5px;
        background-color: aqua;
        transform: rotate(35deg);
        position: absolute;
        border-radius: 5px;
        bottom: 0px;
        left: 790px;
    }

    .line-celoscuro {
        width: 1600px;
        height: 5px;
        border-radius: 5px;
        background-color: #009db7;
        transform: rotate(150deg);
        position: absolute;
        right: 200px;
    }

    .line-celeste {
        width: 1000px;
        height: 5px;
        background-color: #207f92;
        position: absolute;
        border-radius: 5px;
        transform: rotate(120deg);
        top: 450px;
        left: 765px;
    }

    .line-aqua2 {
        width:1683px;
        height: 5px;
        background-color: aqua;
        position: absolute;
        border-radius: 5px;
        transform: rotate(120deg);
        top: 1915px;
        left: 255px;
    }

    .line-celeste2 {
        width: 1450px;
        height: 5px;
        background-color: #1288a0;
        position: absolute;
        border-radius: 5px;
        transform: rotate(35deg);
        top: 650px;
        right: 200px;
    }

    .line-celoscuro2 {
        width: 1612px;
        height: 5px;
        border-radius: 5px;
        background-color: #009db7;
        transform: rotate(50deg);
        position: absolute;
        right: 287px;
        top: 2020px;
    }
}
