@media (max-width: 600px) {
    .decoracion {
        .line-aqua {
            width: 300px;
            left: 255px;
            top: 81px;
            transform: rotate(35deg);
        }

        .line-celoscuro {
            width: 515px;
            right: 47px;
            top: 100px;
            transform: rotate(150deg);
        }

        .line-celeste {
            width: 533px;
            left: 0;
            top: 546px;
            transform: rotate(10deg);
        }

        .line-aqua2 {
            width: 440px;
            left: 198px;
            top: 2010px;
            transform: rotate(120deg);
        }

        .line-celeste2 {
            width: 604px;
            top: 1085px;
            transform: rotate(150deg);
            right: -36px;
        }
    }
}